@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800&family=Roboto+Mono:wght@100&display=swap');

.card {
    max-width: 350px;
    background-color: #fd7557;
    border-radius: 25px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;

    &__item {
        padding: 10px;
    }

    &__plan {
        font-size: 22px;
    }

    &__price {
        font-weight: 600;
        font-size: 40px;
    }
}

/*:host ::ng-deep mat-slider .mdc-slider__track--active_fill{
    border-color: yellowgreen !important;
} - :host isola para rolar apenas no componente e ::ng-deep aprofunda pra chegar no filho
 - mat-slider - tag
 - .mdc-slider__track--active_fill classe do componente*/ 
